<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isEmpty()" class="ion-text-center">
  <ion-card color="light">
    <ion-icon class="profile" name="person-circle-outline"></ion-icon>
    <ion-card-header>
      <ion-card-title>{{ this.data[0].name + ' ' + this.data[0].lastName}}</ion-card-title>
      <ion-card-subtitle>Estudiante</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ this.data[0].summary }}
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>Correo: {{ this.data[0].email }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ciudad: {{ this.data[0].city }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pais: {{ this.data[0].country }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-label>Frameworks</ion-label>
    <ion-item>
      <ion-label>Angular</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>NodeJS</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-label>Hoobies</ion-label>
    <ion-item>
      <ion-label>Tocar la guitarra electrica</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Jugar juegos de PC</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
